
.lt-cube-grid {
  width: 120px;
  height: 120px;
  margin: 120px auto;
}

.lt-cube-grid .lt-cube {
  width: 20px;
  height: 20px;
  -webkit-animation: lt-ScaleDelay 1.5s infinite ease-in-out;
          animation: lt-ScaleDelay 1.5s infinite ease-in-out;
  background-color: pink;
  float: left;
}

.lt-cube-grid .lt-cube1 {
  width: 20px;
  height: 20px;
  -webkit-animation: lt-ScaleDelay 1.5s infinite ease-in-out;
          animation: lt-ScaleDelay 1.5s infinite ease-in-out;
  background-color: white;
  float: right;
}


.lt-cube-grid .c1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.lt-cube-grid .c2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.lt-cube-grid .c3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.lt-cube-grid .c4 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }
.lt-cube-grid .c5 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
.lt-cube-grid .c6 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; }
.lt-cube-grid .c7 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s; }
.lt-cube-grid .c8 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }
.lt-cube-grid .c9 {
  -webkit-animation-delay: 0.10s;
          animation-delay: 0.10s; }

@-webkit-keyframes lt-ScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(10, 20, 30);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes lt-ScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
